{% extends "djangoChat/base.html" %}
{% block body %}
{% load static %}

<style>
	button {
	  padding: 0 18px;
	  height: 29px;
	  font-size: 12px;
	  font-weight: bold;
	  color: #527881;
	  text-shadow: 0 1px #e3f1f1;
	  background: #cde5ef;
	  border: 1px solid;
	  border-color: #b4ccce #b3c0c8 #9eb9c2;
	  border-radius: 16px;
	  outline: 0;
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
	  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
	  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
	  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
	  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	}
	button:active {
	  background: #cde5ef;
	  border-color: #9eb9c2 #b3c0c8 #b4ccce;
	  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
	  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
	}
</style>
	
<!--  chat box area -->
<section class="chatBox">
	
</section>

<!--  sidebar area -->
<section class="sidebar">
	<img style="float: right; position: relative; top: 12px; right: 25px;" src ="{% static "djangoChat/Dancing-minion-icon.png" %}" width="42" height="42" /><h2 style="color: #0ca3d2; text-align:center;">Minions Inc.</h2>
	<a href="/chat/lobby"> <button class="submit">Lobby</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/chat/logout"><button>Log Out</button></a>
	
    <h4 style="color: #333; text-align:center;">PBI</h4>
	
	<article>
        <input id="files" type="file" />
        <output id="result" />
    </article>
    <br />
    <script type="text/javascript">
    window.onload = function() {

		//Check File API support
		if (window.File && window.FileList && window.FileReader) {
			var filesInput = document.getElementById("files");

			filesInput.addEventListener("change", function(event) {

				var files = event.target.files; //FileList object
				var output = document.getElementById("result");

				for (var i = 0; i < files.length; i++) {
					var file = files[i];

					//Only plain text
					if (!file.type.match('plain')) continue;

					var picReader = new FileReader();

					picReader.addEventListener("load", function(event) {

						var textFile = event.target;

						var div = document.createElement("div");

						div.innerText = textFile.result;

						output.insertBefore(div, null);

					});

					//Read the text file
					picReader.readAsText(file);
				}

			});
		}
		else {
			console.log("Your browser does not support File API");
		}
	}
	</script>
    <!--<a href="/chat/logout"><button class="submit">Save</button></a><br /><br />-->
	
	<div class="side" style="overflow-y:auto">
	<h3>Online Members</h3>
	<!--<a href="/chat/lobby"> <button class="submit">Manage users</button></a><br><br>	-->
	<div class="onlineUsers">
	</div>
	</div>
</section>

<!--  input area  -->
<section class="input-area">
	<img width="64" height="64" src="{{user.profile.gravatar_url}}" alt="avatar" title="signup at gravatar.com with your email which is resgistered here to change your avatar">	
	<textarea class="input-box"></textarea>
	<button class="submit">Send</button>
	<p class="clear-both"></p>
</section>



{% endblock body %}