<div class="signature" >
	<div class="avatar">
		<img title="<%=user%>" alt="<%=user%>" src="<%=gravatar%>&amp;s=24" height="24" width="24">
	</div>
	<div class="username"><%=user%></div>
	<p class="clear-both"></p>
</div>
<div class="messages">
	<div class="msg">
		<%=msg%>
		<%=time%>
	</div>
</div>
<p class="clear-both"></p>